<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Aplicación</title>
  <link href="/css/output.css" rel="stylesheet">


</head>
<body class="bg-gray-200">
  <%- include('./partials/header') %>



  <!-- Hero Section -->
   
 
      
    


  
           
  
 


  <footer>
    <p>&copy; 2025 Mi Aplicación - Todos los derechos reservados</p>
  </footer>

  <script src="/js/main.js"></script>
</body>
</html>